body.dark {
  background-color: #121212 !important;
  color: #f0f0f0 !important;
}
body.light {
  background-color: #fff !important;
  color: #000 !important;
}

#root {
  min-height: 100dvh;
  background: none;
  padding: 0;
}

body.dark ::-webkit-scrollbar-thumb {
  background-color: #444;
}
body.light ::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
